<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="section section-signup page-header" style=" margin:50px; background-image: url('./assets/img/city.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Inscription</h4>
              </div>
              <p class="description text-center">On a hâte de vous compter parmis nos membres</p>
              <div class="card-body" ">
                <div class="input-group" style="padding: 0;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                    </span>
                  </div>
                  <div style="padding-left: 0px;" class="">
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", style:'width :100%;' , class: "form-control" %>
                    </div>
                    <div class="field">
                      <%= f.label :pseudo %><br />
                      <%= f.text_field :pseudo, style:'width :100%;' , class: "form-control" %>
                    </div>
                    <br/>
                    <div class="field">
                      <%= f.label 'Prénom' %><br />
                      <%= f.text_field :first_name, style:'width :100%;' , class: "form-control" %>
                    </div>
               
                    <div class="field">
                      <%= f.label 'Mot de Passe' %>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                      <%= f.password_field :password, autocomplete: "new-password",class: "form-control",style:'width :100%;' %>
                    </div>
                    <div class="field">
                      <%= f.label :'Confirmation mot de passe' %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password",style:'width :100%;',class: "form-control" %>
                    </div>
                    <div class="footer text-center">
                      <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">    <%= f.submit "M'inscrire", class:'btn btn-primary' %>
                      </a>
                    </div>
                    <center>
                      <%= render "devise/shared/links" %>
                    </center>
                  </div>
                </div>
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
</div>
</div>
</div>
</form>
