<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <%if current_user.is_admin != true%>
    <%= render 'layouts/40'%>
  <%else%>
    <body class="index-page sidebar-collapse">
      <div >
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                <h1 style="margin: 100px;" class="title">Bonjour <%= current_user.pseudo%></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 100px;" class="main main-raised">
        <div class="section section-basic">
          <div class=" container">
            <!-- Ici nous savons combien d'articles nous avons à valider avec un  if-->
            <%if Article.where(:is_validated => 'false').count == 0%>
              <h4 style="" ><span class="badge badge-pill badge-success">Success</span>
                Vous n'avez aucun article à valider </h4>
            <%else%>
              <h4 style="" ><span class="badge badge-pill badge-warning">Warning</span>
                Vous avez <%= Article.where(:is_validated => 'false').count%> article(s) à valider </h4>
            <%end%>
            <%if Event.where(:is_validated => 'false').count == 0%>
              <h4 style="" ><span class="badge badge-pill badge-success">Success</span>
                Vous n'avez aucun évenement à valider </h4>
            <%else%>
              <h4 style="" ><span class="badge badge-pill badge-warning">Warning</span>
                Vous avez <%= Event.where(:is_validated => 'false').count%> évenement(s) à valider </h4>
            <%end%>
          </div>
        </div>
        <div class>
        </div>
      </div>
      <!-- First card : presentation -->
      <div style="margin-top: 100px" class="main main-raised">
        <div class="section section-basic">
          <div class="container">
            <h2 style="text-align: center; margin: 50px;" >Utilisateurs</h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Pseudo</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <% User.all.each do |user|%>
                <tbody>
                  <td><%= user.id %></td>
                  <td> <%= link_to  user.pseudo , user_path(user.id) %> </td>
                  <% if user.is_admin != true%>
                    <td>
                      <a <%= link_to "X", user, method: :delete, data: { confirm: "Are you sure"} %>
</a>
                      </td>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
          <div class>
          </div>
        </div>
        <div style="margin-top: 100px;" class="main main-raised">
          <div class="section section-basic">
            <div class="container">
              <h2 style="text-align: center; margin: 50px;" >Articles</h2>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom </th>
                    <th>Status</th>
                    <th>Option</th>
                    <th>Supprimer</th>
                  </tr>
                </thead>
                <% Article.all.each do |article|%>
                  <tbody>
                    <td><%= article.id %></td>
                    <td><%= link_to  article.title , article_path(article.id) %></td>
                    <%if article.is_validated != false%>
                      <td><span class="badge badge-success m-0">Approuvé</span></td>
                      <td>  <%= link_to "Ne pas accepter", :controller => :articles, :action => :toggle_check, article_id: article.id %>
                      </td>
                    <%else%>
                      <td><span class="badge badge-danger m-0">Non approuvé</span></td>
                      <td><%= link_to "Accepter", :controller => :articles, :action => :toggle_check, article_id: article.id %></td>
                    <%end%>
                    <td>
                      <a <%= link_to "X", article, method: :delete, data: { confirm: "Are you sure"} %>
							</a>
                      </td>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
            <div class>
            </div>
          </div>
          <div style="margin-top: 100px;" class="main main-raised">
            <div class="section section-basic">
              <div class="container">
                <h2 style="text-align: center; margin: 50px;" >Evenements</h2>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom </th>
                      <th>Nombre de participant</th>
                      <th>Status</th>
                      <th>Option</th>
                      <th>Supprimer</th>
                    </tr>
                  </thead>
                  <% Event.all.each do |event|%>
                    <tbody>
                      <td><%= event.id %></td>
                      <td> <%= link_to  event.title , event_path(event.id) %></td>
                      <td><%= event.attendances.count %></td>
                      <%if event.is_validated != false%>
                        <td><span class="badge badge-success m-0">Approuvé</span></td>
                        <td><%= link_to "Ne pas accepter", :controller => :events, :action => :toggle_check, event_id: event.id %></td>
                      <%else%>
                        <td><span class="badge badge-danger m-0">Non approuvé</span></td>
                        <td><%= link_to "Accepter", :controller => :events, :action => :toggle_check, event_id: event.id %></td>
                      <%end%>
                      <td>
                        <a <%= link_to "X", event, method: :delete, data: { confirm: "Are you sure"} %>
</a>
                        </td>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class>
              </div>
            </div>
          </div>
        <%end%>
      </body>
    </html>
