<h1>Rediger un article</h1>


    <%= form_tag url_for(action: 'create'), method: "post" do %>

 <%= label_tag 'Titre' %><br />
      <%= text_field_tag 'title'%>
      <br /> 
      <%= label_tag 'Contenu' %><br />
      <%= text_field_tag 'content'%>
 <br />  

<div class="section section-signup page-header" style=" margin:200px; background-image: url('./assets/img/city.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
     
                <p class="description text-center">Or Be Classical</p>
                <div class="card-body" ">
                  <div class="input-group" style="padding: 0;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                      </span>
                    </div>
<%end%>

