<center>
<div class="psw-reset">
<div class="card card-nav-tabs">
  <div class="card-header card-header-primary ">
    <h2>Mot de passe oublié</h2>
  </div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<div class="card-body">
	  <div class="field">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
	  </div>

	  <div style="margin: 30px;" class="actions">
	    <%= f.submit "Envoyer les instructions de réinitialisation", class:"btn btn-primary" %>
	  </div>
	<% end %>
  </div>
</div>
</div>
</center>