<div class="container">
  <div class= "card">
    <div class="card-body">
      <!----------------------- Affichage de l'event ------------------------------>
      <div class="card-header card-header-image">
        <%= link_to event_path(@event.id) do %>
          <% if @event.image_event.attached? %>
            <%= image_tag @event.image_event, :alt => "cat-pic" %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D", class: "some css class here" %>
          <% end %>
        <% end %>
      </div> <br/>

      <div class="container d-flex flex-row">
        <div class ="col-6">
          <h5 class="card-title"><%= @event.title %></h5>
          <p class="card-text"> <%= @event.description %> </p>
          <%if @event.start_date != nil %>
            <li class="list-group-item text-center"> 
               le <%= @event.start_date.strftime("%d/%m/%Y à %H:%M") %></li>
          <%end%>
          <li class="list-group-item text-center"> 
             <%= @event.duration %> minutes </li>
          <li class="list-group-item text-center"> 
             à <%= @event.location %></li>
          <% if @event.price != 0 %>
            <li class="list-group-item text-center">
               <%= @event.price %> euros</li>
          <% else %>
            <li class="list-group-item text-center"> 
               Cet évènement est gratuit !</li>
          <%end%>
        </div>
      <div id="show-event-map" class="col-6 border-map pb-1"></div>
    </div>

<br><br>

      <center>
        <% @event.join_tag_events.each do |join| %>
          <span class="badge badge-primary"> <%= join.tag.name %></span>
        <% end %></center>
      <!----------------------- Lien pour participer à l'event ---------------------------------->
      <!--------- (si on est pas déja sur la liste, pas admin et que la date n'est pas passée) -->
      <li class="list-group-item text-center">
        <div class="card-body">
          <% if (current_user == @event.creator) %>
            <p> C'est votre évènement ! </p>
          <% elsif @event.start_date < Time.now %>
            <p> L'évènement est passé.. </p>
          <% elsif @event.attendances.find_by(user_id: current_user.id) != nil %>
            <p> Vous participez à cet évènement ! </p>
          <% else %>
            <%= link_to "Participer", new_event_attendance_path(@event), class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </li>
      <div class="card-footer d-flex justify-content-between">
        <li class= "list-group-item"><small class="text-muted">
            créé par : </small><%= @event.creator.first_name %></li>
        <li class="list-group-item"> <%= @event.creator.last_name %> <small>
            le <%= @event.created_at%></small></li>
      </div>
    </div>
    <!-----------------------Voir les participants ----------------------->
    <div class = "container">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Participants
        </a>
        <% if (@attending_list.count > 0) %>
          <% @event.attendances.each do |attendance| %>
            <p style="color: black" class="list-group-item list-group-item-action"><%= link_to attendance.user.first_name, user_path(attendance.user.id) %></p>
          <% end %>
        <% else %>
          <br>
          <center>
            <p> Pas encore de participants pour cet event ! </p>
          </center>
        <% end %>
      </div>
    </div>
  </div>
  <!--------------------------- Actions proposées au créateur --------------------->
  <center>
    <% if current_user == @event.creator %>
      <a class="btn btn-success my-2 my-sm-0" <%= link_to "Mettre à jour l'évènement", edit_event_path(@event.id) %> </a> <br/>

      <a class="btn btn-danger" <%= link_to "Supprimer l'évènement", event_path(@event), method: 'delete' %></a> <br/>
      
    <% end %>
  </center>



</p>

<div class="container">
  <div class= "card">
    <div class="card-body"> 

<%= form_for :comment, url: comments_path do |f| %>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <%= f.label :content, "Ajouter un commentaire : " , class: 'title col-md-4 control-label'%>
      <%= f.text_field :content, class:'form-control' %>
      <p class="help-block text-danger"></p>
      <%= hidden_field_tag(:event, @event.id) %>
    </div>
  </div>
      
  <div id="success"></div>
    <div class="form-group">
      <center>
      <button type="submit" class="btn btn-outline-primary" id="sendMessageButton">Valider le commentaire</button>
    </center>
    </div>
  <%end%>

  <!-- Cards Gossips -->
      <table class="table">
      <thead> 
        <tr>
          <th class= "" >  Commentaires</th>
          <th class= "" >  </th>
          <th class= "" >  </th>
         
        </tr>
      </thead>
        <tbody>
           <% @comments.each do |comment| %>
          <tr>
          <td>
            <p class="lead"><%= comment.content %></p>
          </td>
          <td>
            <p> Ecrit par <%= link_to comment.user.first_name, user_path(comment.user.id) %></p> 
          </td>
          <td><a <%= link_to "X", comment, method: :delete, data: { confirm: "Are you sure"} %></td>
          <td> 
          <% if current_user.id == comment.user.id %>
          <%end%>
          </tr>
          <%end %>
        </tbody>
    </table>
  


</div>
</div>
</div>

<h2>Tous les événements organisés par <%= @event.creator.pseudo%> </h2>


<div class="card-deck col-10">
  <% Event.all.each do |event| %>
      <% if event.is_validated == true%>

    <% if event.creator_id == @event.creator_id %>
      <div class="card">

        <%= link_to event_path(event.id) do %>
          
          <% if event.image_event.attached? %>
            <%= image_tag event.image_event, :alt => "event-pic", class: "card-img-top" %>

          <% else %>            
            <%= image_tag "https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D", class: "card-img-top" %>
          <% end %>
        <% end %>


        <%= link_to event_path(event.id) do %>
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5><%end%>
          <p class="card-text">
            <%= "#{event.description.first(100)} [...]" %>
          </p>
          <p class="card-text"><small class="text-muted">
            <i class="fas fa-eye"></i><%= event.attendances.count %>
            <i class="far fa-user"></i> <%= event.creator.email %> <br/></small>
    <i class="fas fa-calendar-alt"></i> <%= event.start_date.strftime( "\n le %d/%m/%Y à %H:%M") %>
  </p>
</div>
</div>
<%end%>
<%end%>
<%end%>
</div>
</div>
</div>
</div>
</div>
</div>
  <%= javascript_include_tag 'show_event_map' %>
