<center>
  <h1 class="card-title index-title">Les événements</h1>
  <hr style="width: 300px;">
  <div class="card-columns index-padding">
    <% @events.each do |event| %>
      <% if event.is_validated == true%>
        <div class="card p-3 card-blog">
          <div class="card-header card-header-image">
            <%= link_to event_path(event.id) do %>
              <% if event.image_event.attached? %>
                <%= image_tag event.image_event, :alt => "cat-pic" %>
              <% else %>
                <%= image_tag "https://c2.staticflickr.com/2/1577/24041782554_f3803760ae.jpg", :alt => "cat-pic", class: "some css class here" %>
              <% end %>
            <% end %>
            <div class="card-title">
              <%= event.title %>
            </div>
          </div>
          <div class="card-body">
            <p class="card-description"> <%= "#{event.description.first(100)} [...]" %> </p>
            <p class="card-text"><small class="text-muted">
                <i class="material-icons">people</i> <%= event.attendances.count %>
                <i class="material-icons">face</i> <%= event.creator.pseudo %><br/>
              </small>
              <i class="material-icons">day</i><%= event.start_date.strftime( "le %d/%m/%Y à %H:%M") %>
            </p>
            <% event.join_tag_events.each do |join| %>
              <%= link_to tag_path(join.tag.id), class: "" do %> 
                <span class="badge badge-primary"> <%= join.tag.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</center>
