
<% if @event.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show m-4" role="alert" style="z-index: 5;">
    <p><strong>Nous n'avons pas pu créer d'évenement pour la ou les raison(s) suivante(s) :</strong></p>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
    </ul>
  </div>
<% end %>

<br/>
<body>
<div class="container">
  <div class="row">
    <div class="card card-nav-tabs text-center">
      <div class="card-header card-header-primary">
        <h3 class="title">Créer un événement</h3>
      </div>
      <div class="card-body">


      <%= form_tag url_for(action: 'create'), class: "form", method: "post",multipart: true do %>
       
        
        <h4 class="card-title">Nom de l'évènement</h4>
        <%= text_field_tag 'title', @title, placeholder: "Titre", class: "form-control"  %>
        <br />
        <br />
        <h4 class="card-title">Description</h4>
        <%= text_area_tag :description, @description, placeholder: "Concept, activitée proposée... ", class: "form-control"  %>
        <br />
         <br />
        <h4 class="card-title">Date de l'évènement </h4>
        <%= date_field_tag 'start_date',@start_date %>
        <br />
         <br />

        <%= time_field_tag :hour_start %>
        <br/><br/>

        <h4 class="card-title">Durée (en minutes)</h4>
        <%= number_field_tag :duration, @duration, placeholder: "Ex: 120", min:1, class: "form-control" %>
        <br />
        <br />

        <h4 class="card-title">Lieu</h4>
        <%= text_field_tag :location, @location, placeholder: "Ex: Place du général de Gaulle à Lille", class: "form-control" %>
        <br />
        <br />
        
        <h4 class="card-title">Falcutatif : prix</h4>
        <p> (en cas d'achat de matériel, location de salle, etc)</p>
        
        <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
        <%= range_field_tag :price, @price , :in => 0...100, class: "range-field w-25"  %>
        <span class="font-weight-bold indigo-text mr-2 mt-1">100</span>



        <br />
      <h4 class="card-title"> Tags  </h4>
      <p> (plusieurs au choix)</p>
      <%= select_tag "tag_id", options_from_collection_for_select(Tag.order(:name), "id", "name"), multiple: true, class: 'chosen-select ml-5' %>

      <br/><br/>



        <h4 class="card-title"> Image </h4>
        <%= file_field_tag :image_event %>
        <br><br />


          <button type="submit" class= "btn btn-primary"> Ajouter mon event </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
