<% if @event.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show m-4" role="alert">
    <p><strong>Nous n'avons pas pu créer d'évenement pour la ou les raison(s) suivante(s) :</strong></p>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row">

    <div class="card card-nav-tabs text-center">
      <div class="card-header card-header-primary">
        <h3 class="title">Mon évènement </h3>
      </div>
      <div class="card-body">
        


      <%= form_tag url_for(action: 'create'), class: "form", method: "post",multipart: true do %>
        
        <h4 class="card-title">Nom de l'évènement</h4>
        <%= text_field_tag 'title' %>
        <br />
         <br />
        <h4 class="card-title">Description</h4>
        <%= text_area_tag :description  %>
        <br />
         <br />
        <h4 class="card-title">Date de l'évènement </h4>
        <%= date_field_tag 'start_date',Time.zone.today.strftime("%Y-%m-%d")%>
        <br />
         <br />

        <%= time_field_tag :start_date, Time.zone.now.strftime("%H:%M") %>
        <br/><br/>

        <h4 class="card-title">Durée (en minutes)</h4>
        <%= text_field_tag :duration %>
        <br />
        <br />

        <h4 class="card-title">Lieu</h4>
        <%= text_field_tag :location %>
        <br />
         <br />
        
        <h4 class="card-title">Falcutatif : prix</h4>
        <p> (en cas d'achat de matériel, location de salle, etc</p>
        
        <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
        <%= range_field_tag :price, id: "sliderRegular", :in => 0...100, class: "range-field w-25"  %>
        <span class="font-weight-bold indigo-text mr-2 mt-1">100</span>


        <br />
        <br />

        <h4 class="card-title">Tags </h4>

       Selectionnez un ou plusieurs tags : <br>
        <%= select_tag "tag_id", options_from_collection_for_select(Tag.order(:name), "id", "name"), multiple: true, class: 'ml-5' %>




        <h4 class="card-title"> Image </h4>
        <%= file_field_tag :image_event %>
        <br><br>

          <button type="submit" class= "btn btn-primary"> Créer mon évènement </button>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
