<br>
<div class="article-card mx-auto">
  <div class="card card-nav-tabs article-show">
    <div class="card-header card-header-primary">
<srong><center><%= @tag.name %></center></srong>
    </div>


 <div class="container d-flex flex-row">
  <div class="col-6"><br><br />
		<% if @tag.events.exists? %>
			<h4> Les évènements </h4>
		 	<p class="card-text"> 
	  		<% @tag.events.each do |event| %>
	    		<%= link_to event_path(event.id), class: "" do %> 
						<li class= "list-group-item"> <%= event.title %> </li>
					<% end %>
				<%end%>
		<%end%>
		</p>
		<br>
	</div>

  <div class="col-6"><br><br />
	<% if @tag.articles.exists? %>
		<h4> Les articles</h4>
	 	<p class="card-description"> 
	  	<% @tag.articles.each do |article| %>
	    	<%= link_to article_path(article.id), class: "" do %> 
					<li class= "list-group-item"> <%= article.title %> </li>
				<% end %>
			<%end%>
		</p>
	<%end%>	
</div></div>
</div>

</div></div>