<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="index-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://gardenshf.org/wp-content/uploads/2016/06/AdobeStock_92059327.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
              <h1 class="title">SYNERGIE URBAINE</h1>
              <h3 class="title">La Plateforme Participative Ecologique et Solidaire</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First card : presentation -->
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <h1 class="text-center" >Cherchez des évenements près de chez vous </h1>
          <h2 class="text-center" >ou créez en !</h2>
          <br/>
          <br/>
          <form style="margin-left:35%;" class='form-inline' action="/search">
            <input placeholder='ex: Solidaire' name="q" class="form-control mr-sm-2" type="text" aria-label="search">
            <button class="btn btn-primary", style='color:white'  type="submit" >Chercher</button> 
            <p style="margin: 30px" >Ou</p>
                          <%= link_to "Créer", new_event_path %>
          </form>
    
      </div>
          <center  >
          <a  class="btn btn-primary" <%= link_to "Voir tous les événements", events_path, class:"btn btn-primary testtest"%></a>
          <a class="btn btn-primary" <%= link_to "Voir tous les articles", articles_path%></a>
          </center>
          <center>
          <a class="btn btn-secondary" <%= link_to "Acceder au calendrier", calendar_path%></a><br>
          <a class="btn btn-secondary" <%= link_to "Accéder à la carte des lieux d'économie sociale et solidaire", maps_path%></a>
        </center>
    </div>

  </div>


</div>


<!-- First card : presentation -->
<div style="margin-top: 100px;" class="main main-raised">
  <div  style="" class="section section-basic">
    <div class="container">
      <div style="" class="card card-nav-tabs text-center">
        <div  class="card-header card-header-primary">
          <h3 class="title">Une synergie au service de la ville </h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Des événements</h4>
          <p class="card-text">Avec <strong> Synergie Urbaine</strong>, tu peux rejoindre des évènements près de chez toi et en organiser.</p>
          </div>
          <center>
            <img src="https://images.pexels.com/photos/3184177/pexels-photo-3184177.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="..." class="img-thumbnail" style="width: 300px">
          </center>
          <div class="card-body">
            <h4 class="card-title">Du partage de connaissances</h4>
            <p class="card-text">Tu peux également poster des articles et profiter de ceux des autres. Le contenu d'un article? Laisse parler ton imagination ! <br/>
              Le but est de partager nos bons plans, nos connaissances, nos savoirs... Dans les domaines de l'écologie et de la solidarité. <br/>
              Le site est consu selon un principe inclusif et participatif : chacun est libre de participer à la communauté. On a tous quelque chose à apprendre des autres ! </p>
            </div>
            <center>
              <img src="https://cdn.pixabay.com/photo/2015/04/27/15/01/vegetables-742095_960_720.jpg" alt="..." class="img-thumbnail" style="width: 300px">
            </center>
            <br/>
          </div>
          <!-- Second space : usefull words  -->
         
       
          <!-- Third Space : last event in picture  -->
   <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Les mots-clés pour naviguer sur le site</h2>
            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Economie Fonctionelle</h4>
                 L’économie de la fonctionnalité s’inscrit pleinement dans la démarche de transition vers une économie verte. Elle consiste à remplacer la notion de vente du bien par celle de la vente de l’usage du bien, ce qui entraîne le découplage de la valeur ajoutée et de la consommation d’énergie et de matières premières.<br/>
                  Sur notre site: un échange de services et de connaissances pour prosperer ensembles. 
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Solidaire & participative</h4>
                Par «  développement soutenable ou durable », nous entendons « un développement qui répond aux besoins des générations du présent sans compromettre la capacité des générations futures à répondre aux leurs ».<br/>
                  Une société soutenable est alors une société qui persiste et prospère, qui offre une grande qualité de vie pour tous ses habitants, de manière juste et équitable. Une société où les besoins de tous sont satisfaits, maintenant et demain, en respectant les limites des écosystèmes et ressources naturelles, dont toute vie dépend. 
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">Communauté</h4>
                 Ensembles pour construire le futur. On a toujours quelque chose à apprendre des choses alors c'est parti! 
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
