<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="index-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://gardenshf.org/wp-content/uploads/2016/06/AdobeStock_92059327.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
              <h1 class="title">SYNERGIE URBAINE</h1>
              <h3 class="title">La Plateforme Participative Ecologique et Solidaire</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First card : presentation -->
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <h1 class="text-center" >Cherchez des évenements près de chez vous </h1>
          <h2 class="text-center" >ou créez-en</h2>
          <br/>
          <br/>
          <form style="margin-left:35%;" class='form-inline' action="/search">
            <input placeholder='ex: Solidaire' name="q" class="form-control mr-sm-2" type="text" aria-label="search">
            <button class="btn btn-primary", style='color:white'  type="submit" >Chercher</button> 
            <p style="margin: 30px" >Ou</p>
                          <%= link_to "Créer", new_event_path %>
          </form>
    
      </div>
          <center  >
          <a  class="btn btn-primary" <%= link_to "Voir tous les événements", events_path, class:"btn btn-primary testtest"%></a>
          <a class="btn btn-primary" <%= link_to "Voir tous les articles", articles_path%></a>
          </center>
          <center>
           <%= link_to  maps_path do %>
           <i style="margin: 20px; font-size: 50px; color: #1A424B" class="col-md-1 material-icons icon-index">map</i>
<%end%>
        <%= link_to  calendar_path do %>
        <i style="margin: 20px;font-size: 50px; " class="col-md-1 material-icons icon-index">
calendar_today
</i>
<%end%>
        </center>
    </div>

  </div>


</div>



<!-- First card : presentation -->
<div style="margin-top: 100px;" class="main main-raised">
  <div  style="" class="section section-basic">
      <div class="container d-flex flex-row">
        <div> <%= image_tag "synergie.png", style:"width: 400px"%> </div>
      <div class='hexagon'>
      " La synergie est un type de phénomène par lequel plusieurs facteurs agissant en commun ensemble créent un effet global, un effet <strong>synergique</strong>, distinct de tout ce qui aurait pu se produire s'ils avaient opéré isolément, que ce soit chacun de son côté ou tous réunis mais œuvrant indépendamment. Il y a donc l'idée d'une <strong>coopération créative</strong>. ""
      </div></div>
      <br><br>


    <div class="container">

      <div style="" class="card card-nav-tabs text-center">
        <div  class="card-header card-header-primary">
          <h3 class="card-title">Une synergie au coeur de la ville </h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Des événements</h4>
          <p class="card-text">Avec <strong> Synergie Urbaine</strong>, tu peux rejoindre des évènements près de chez toi et en organiser. Que tu représentes une association, ou que prenne l'initiative tout.e seul.e, en famille, ou en tribu, cette plateforme est là pour donner de la visibilité et de la traçabilité aux évènements en lien au développement soutenable et à l'économie sociale et solidaire. <br>
          De l'atelier dans ton salon, aux conférences auxquelles tu aimerais participer ou que tu aimerais organiser, en passant par des rencontres de différents corps de savoirs pour mettre en place un potager, un lieu d'accueil, ou un sitting, les possibilités sont infinies, et il ne tient qu'à vous d'oser, oser participer, rencontrer, proposer.</p>
          </div>
          <center>
            <%= image_tag "event1.jpg", style:"width: 230px", class:"img-thumbnail" %>
            <%= image_tag "event3.jpg", style:"width: 230px", class:"img-thumbnail" %>
          </center>
          <div class="card-body">
            <h4 class="card-title">Du partage de connaissances</h4>
            <p class="card-text">Tu peux également poster des articles et profiter de ceux des autres. Le contenu d'un article? Laisse parler ton imagination ! Le but est de partager nos bons plans, nos connaissances, nos savoirs... Dans les domaines de l'écologie et de la solidarité. <br/>
              Le site est consu selon un principe inclusif et participatif : chacun est libre de participer à la communauté. On a tous quelque chose à apprendre des autres ! </p>
            </div>
            <center>
              <img src="https://cdn.pixabay.com/photo/2015/04/27/15/01/vegetables-742095_960_720.jpg" alt="..." class="img-thumbnail" style="width: 350px">
            </center>
            <br/>
          </div>
          <!-- Second space : usefull words  -->
         
       
          <!-- Third Space : last event in picture  -->
   <div class="section text-center">
        <div class="row">
          <div class="">
            <h2 class="title">Les concepts clefs de Synergie Urbaine</h2>
            <h5 class="description">Grâce à cette plateforme participative, nous espérons tendre vers un monde plus respectueux, et plus solidaire, autant envers les humains, qu'envers l'environnement qui les entoure. <br>
            Pour s'assurer que le monde tourne bien rond, pour nous et pour les générations à venir, il est important de réfléchir à notre impact et à nos usages. Plus que réfléchir, il est urgent d'agir. Pour cela, des gestes simples, potentialisés par un partage de connaissances entre toutes disciplines et compétences sont à mettre en place dès aujourd'hui. <br>
            Synérgie Urbaine veut permettre à tout individu, collectif ou association de faire entendre sa voix, de partager son savoir ou de l'enrichir grâce aux autres, pour mettre en place des actions concrètes.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Economie Fonctionelle</h4>
                 L’économie de la fonctionnalité s’inscrit pleinement dans une perspective de <strong>développement soutenable</strong>. Elle consiste à remplacer la notion de vente du bien par celle de l’usage du bien lui-même, ce qui entraîne le découplage de la valeur ajoutée et la minimisation de la consommation d’énergie et de matières premières.<br/>
                Notre plateforme encourage fortement des initiatives d'économie fonctionnelle, et travaille notamment sur une section permettant le prêt d'objet dont l'usage est occasionnel, ou le stockage est encombrant (perceuse, échelle, voiture, etc). 
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Solidaire & participative</h4>
                Par «  développement soutenable ou durable », nous entendons « un développement qui répond aux besoins des générations du présent sans compromettre la capacité des générations futures à répondre aux leurs ».<br/>
                  Une société soutenable est alors une société qui persiste et prospère, qui offre une grande qualité de vie pour tous ses habitants, de manière juste et équitable. Une société où les besoins de tous sont satisfaits, maintenant et demain, en respectant les limites des écosystèmes et ressources naturelles, dont toute vie dépend. 
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">Communauté</h4>
                 Ensembles pour construire le futur. On a toujours quelque chose à apprendre des choses alors c'est parti! 
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
