<nav class="color01">
  <!--        primary navbar  -->
  <nav class="navbar navbar-expand-lg bg-primary color01">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">SynergieUrbaine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" data-target=".navbar collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!--        Si l'user EST connecté affiche ça  -->
          <% if user_signed_in? %>
            <li class="nav-item">
              <a <%= link_to "Mon Profil", user_path(current_user.id), class: "nav-link" %></a>
              </li>
              <li class="nav-item">
                <%= link_to "Mettre à jour mon profil", edit_user_registration_path, class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <a <%= link_to "Rediger un article", new_article_path, class: "nav-link" %></a>
                </li>
                <li class="nav-item">
                  <a <%= link_to "Créer un évènement", new_event_path, class: "nav-link" %></a>
                  </li>
                  <% if current_user.is_admin == true %>
                    <li class="nav-item">
                      <a <%= link_to "Dashbord Admin",  admin_path(current_user.id), class: "nav-link" %></a>
                      </li>
                    <%end%>
                    <li class="nav-item">
                      <a <%= link_to "Déconnexion", destroy_user_session_path, method: "delete", class: "nav-link" %></a>
                      </li>

                    <li class="nav-item">
                      <a <%= link_to "Reporter un bug", new_bug_path,class: "nav-link" %></a>
                      </li>
                     
                          <!--        Si l'user est PAS connecté affiche ça  -->
                        <%else%>
                          <li class="nav-item">
                            <a <%= link_to "Je me connecte", new_user_session_path, class: "nav-link" %></a>
                            </li>
                            <li class="nav-item">
                              <a <%= link_to "Je m'inscris", new_user_registration_path, class: "nav-link" %></a>
                              </li>

                   
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </nav>
                    <!--        end primary navbar -->
                  </nav>
